@media (max-width:768px){

    #carousel-section {
        width: 100%;
    }

    
    #video-carousel-example {
        width: 100%;
    }

    .backgrounddd-color {
        position: absolute;
        width: 143%;
        top: -784px;
        background-color: #000000;
        opacity: 80%;
        height: 713px;
        left: -78px;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        padding: 0;
        margin-right: 15%;
        margin-bottom: 1rem;
        margin-left: 15%;
        list-style: none;
    }

    

    #alex-costa-avatar {
        display: block;
        width: 100%;
        left: 0;
        top: -746px;
    }


    .carousel-caption {
        position: absolute;
        color: #fff;
        text-align: center;
    }

    .mobile-responsive-ready-to-become-container {
        width: 113%;
        height: 32px;
        margin-top: -450px;
        margin-left: -2px;
    }

    #ready-to-become {
        position: inherit;
        font-size: 3vw;
        letter-spacing: 8px;
        width: 100%;
    }

    .mobile-responsive-best-vertion-div {
    width: 205%;
    height: 150px;
    margin-top: 15px;
    margin-left: -124px;
    }

    #best-version-of-yourself-text {
        position: inherit;
        font-size: 34px;
        width: 100%;
        line-height: 43px;
        text-align: center;
        font-weight: bolder;
        font-family: "fjalla one",sans-serif;
        letter-spacing: 6px;
        padding-left: 17px;
    }

    .mobile-responsive-become-man-div {
        position: absolute;
        width: 199%;
        margin-left: -124px;
        margin-top: -33px;
        padding-left: 29px;
    }


    #become-the-man-text {
        font-size: 21px;
        font-weight: 400;
    }

    .m-responsive-home-button {
        width: 112%;
        margin-left: 11px;
        height: 50px;
        border: 1px solid black;
        position: absolute;
        z-index: 1;
        margin-top: -641px;
    }

    #carousel {
        margin-left: -380px;
        display: none;
    }

    #carousell-login-button {
        width: 112%;
        margin-left: 11px;
        height: 50px;
        border: 1px solid black;
        position: absolute;
        z-index: 1;
        margin-top: -590px;
    }

    #first-innercircle-button {
        background: #FE3030;
        width: 181%;
        height: 63px;
        font-family: montserrat,sans-serif;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        margin-left: -283px;
        margin-top: -69px!important;
        letter-spacing: 9px;
        font-weight: bold;
        color: cornsilk;
        border-radius: 0px;
    }

    #first-innercircle-button:hover {
        color: black;
        background: white;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
}
}