



 /* for mobiles devices with small screen sizes to mobiles with large screen sizes (portrait mode) (starts)*/


 @media screen and (max-width:425px){

    body {
    
    font-size:14px;
    overflow-x:hidden;
    
    }
    
     
    
    
        #carousel-section {
            width: 100%;
        }
    
        
        #video-carousel-example {
            width: 100%;
        }
    
        .backgrounddd-color {
            position: absolute;
            width: 140%;
            top: 22px;
            background-color: #000000;
            opacity: 80%;
            height: 545px;
            left: -58px;
        }
    
        .carousel-indicators {
            position: absolute;
            right: 0;
            bottom: 0;
            left: -65px;
            z-index: 2;
            display: flex;
            justify-content: center;
            padding: 0;
            margin-right: 15%;
            margin-bottom: 1rem;
            margin-left: 15%;
            list-style: none;
            top: -28px;
            width: 103%;
            height: 581px;
            overflow-y: hidden;
            overflow-x:hidden;
        }
    
        
    
        #alex-costa-avatar {
            display: block;
            width: 60%;
            left: auto;
            top: 66px;
        }
    
        #alex-costa-signature {
            position: absolute;
            width: 50%;
            top: -500px;
            opacity: 0%;
            display: none;
        }
    
        .mobile-vertion-background-photo-first-section-div {
            height: 553px;
            width: 100%;
        }
    
        .mobile-vertion-background-photo-first-section {
            height: 551px;
            width: 100%;
            position: absolute;
            left:0%;
        }
    
        .carousel-caption {
            position: absolute;
            color: #fff;
            text-align: center;
        }
    
        .mobile-responsive-ready-to-become-container {
            width: 131%;
            height: 32px;
            margin-top: -344px;
            margin-left: -19px;
        }
    
        #ready-to-become {
            position: absolute;
        font-size: 4vw;
        letter-spacing: 8px;
        width: 78%;
        color: white;
        top: 266px;
        left: 15%;
        text-align: center;
        font-family: "fjalla", sans-serif;
        }
        
        
    
        .mobile-responsive-best-vertion-div {
            width: 205%;
            height: 92px;
            top: -73px;
            position: absolute;
            margin-left: -45px;
        }
    
        #best-version-of-yourself-text {
            position: absolute;
            font-size: 25px;
            width: 100%;
            line-height: 43px;
            text-align: center;
            font-weight: bolder;
            font-family: "fjalla one",sans-serif;
            letter-spacing: 6px;
            top: 295px;
            color: white;
            left: 3%;
        }
    
        .mobile-responsive-become-man-div {
            position: absolute;
            width: 170%;
            margin-left: -65px;
            top: -203px;
        }
    
    
        #become-the-man-text {
            font-size: 18px;
            font-weight: 400;
            position: absolute;
            top: 400px;
            color: white;
            left: 7%;
            width: 92%;
            text-align: center;
            overflow-y: hidden;
        }
    
        .m-responsive-home-button {
            width: 65%;
        height: 50px;
        border: 1px solid black;
        position: absolute;
        z-index: 1;
        top: 126px;
        left: 20%;
        }
    
        #carousel {
            margin-left: -380px;
            display: none;
        }
    
        #carousell-login-button {
            width: 65%;
        height: 50px;
        border: 1px solid black;
        position: inherit;
        top: 769px;
        left: 17%;
        }
    
        #first-innercircle-button {
            background: #FE3030;
            width: 83%;
            height: 63px;
            font-family: montserrat,sans-serif;
            text-decoration: none;
            text-align: center;
            font-size: 12px;
            letter-spacing: 9px;
            font-weight: bold;
            color: cornsilk;
            border-radius: 0px;
            position: inherit;
            top: 560px;
            left: 153px;
        }
    
        #first-innercircle-button:hover {
            color: black;
            background: white;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            }
    
            #followers-count-section {
                position: absolute;
                top: 553px;
                left: 0px;
                width: 100%;
                height: 53px;
            }
    
            #background-color-div {
                background-color: transparent;
                background-image: linear-gradient(100deg, #C31111 0%, #A333AB 100%);
                height: 53px;
                width: 100%;
            }
    
            #follower-text {
                position: inherit;
                height: 53px;
                width: 100%;
                overflow-y:hidden;
            }
    
            #youtube-subscriber {
                color: white;
                font-family: "Montserrat", Sans-serif;
                font-size: 19px;
                font-weight: 300;
                letter-spacing: 6.8px;
                position: relative;
                top: -10px;
                left: 4%;
                width: 35%;
                overflow-y: hidden;
                overflow-x: hidden;
            }
    
            #subscribers {
                color: white;
                font-family: "Montserrat", Sans-serif;
                font-size: 5px;
                font-weight: 500;
                position: absolute;
                top: 32px;
                left: 4%;
                letter-spacing: 6px;
                max-width: 300px;
            }
    
            #instagram-followers {
                color: white;
                font-family: "Montserrat", Sans-serif;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 7.8px;
                position: absolute;
                top: -11px;
                left: 34%;
                border-left: 3px solid white;
                height: 37px;
                border-right: 3px solid white;
                width: 26%;
                padding-left: 4%;
            }
    
            #followers {
                color: white;
                font-family: "Montserrat", Sans-serif;
                font-size: 5px;
                font-weight: 500;
                position: absolute;
                top: 32px;
                left: 37.4%;
                letter-spacing: 6px;
                padding-left: 1%;
            }
    
            #youtube-view {
                color: white;
                font-family: "Montserrat", Sans-serif;
                font-size: 20px;
                font-weight: 300;
                letter-spacing: 10px;
                position: absolute;
                top: -11px;
                left: 68%;
                width: 32%;
            }
    
            #video-views {
                color: white;
                font-family: "Montserrat", Sans-serif;
                font-size: 5px;
                font-weight: 500;
                position: absolute;
                top: 33px;
                left: 71%;
                letter-spacing: 5px;
            }
    
            #alex-costa-pictures {
                position: inherit;
                top: 48px;
                left: 10%;
                width: 80%;
            }
    
    
            #about-me-section {
                position: absolute;
                width: 100%;
                height: 1167px;
                top: 606px;
                background: white;
                left:0%;
            }
            #my-name-alex-costa-container {
                position: absolute;
                width: 84%;
                top: 339px;
                left: -1%;
                padding-left: 33px;
            }
    
            #my-name-is-alex-costa {
                color: black;
                letter-spacing: 3px;
                line-height: 1.5em;
                font-family: "montserrat",sans-serif;
                font-weight: bold;
                font-size: 5vw;
                text-transform: uppercase;
                width:94%;
            }
    
            #about-me-text-div {
                position: absolute;
                top: 483px;
                width: 85%;
                left: 0.4%;
                color: black;
                font-family: "montserrat",sans-serif;
                height: 60px;
                padding-left: 33px;
                font-size: 3vw;
                overflow-y: hidden;
                overflow-x: hidden;
            }
    
            #last-year-div {
                position: relative;
                top: 585px;
                width: 66%;
                left: 8%;
                color: black;
                font-family: "montserrat",sans-serif;
                height: 50px;
                font-size: 3vw;
                overflow-y: hidden;
            }
    
            #although-we-try-div {
                position: relative;
                top: 624px;
                width: 81%;
                left: 8%;
                color: black;
                font-family: "montserrat",sans-serif;
                height: 64px;
                letter-spacing: 2px;
                font-size: 3vw;
                overflow-y: hidden;
            }
    
    
    
            #for-that-reason-div {
                position: relative;
                top: 692px;
                width: 78%;
                left: 8%;
                color: black;
                font-family: "montserrat",sans-serif;
                height: 64px;
                letter-spacing: 1px;
                font-size: 3vw;
                overflow-y: hidden;
            }
    
    
            #youre-now-invited-div {
                position: relative;
                top: 753px;
                width: 77%;
                left: 8%;
                color: black;
                font-family: "montserrat",sans-serif;
                height: 60px;
                font-size: 3vw;
                overflow-y: hidden;
            }
    
            #look-inside-inner-cicle-link {
                position: relative;
                top: 814px;
                left: 8%;
                background: #C31111;
                width: 82%;
                display: block;
                height: 37px;
                font-family: montserrat,sans-serif;
                text-decoration: none;
                text-align: center;
                color: white;
                padding-top: 17px;
                font-size: 4vw;
                font-weight: 500;
                letter-spacing: 1px;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            }
    
    
            #third-section {
                position: absolute;
                width: 100%;
                top: 1777px;
                display: block;
                height: 2448px;
                overflow-y: hidden;
                overflow-x:hidden;
            }
    
            
            #what-makes-up {
                color: #000000;
                font-family: "Montserrat", Sans-serif;
                font-size: 9vw;
                font-weight: 400;
                position: absolute;
                top: 7px;
                left: 6%;
                letter-spacing: 7px;
                width: 90%;
                text-align: center;
            }
    
            #first-image-third-section {
                position: absolute;
                top: 245px;
                left: 25%;
                width: 50%;
            }
    
    
            #mindset {
                color: #000000;
                font-family: "Montserrat", Sans-serif;
                font-size: 7vw;
                font-weight: 500;
                letter-spacing: 1.2px;
                position: relative;
                top: -1969px;
                left: 33%;
            }
    
    
            #piller-1 {
                color: #C31111;
                font-family: "Montserrat", Sans-serif;
                font-size: 4vw;
                font-weight: 700;
                letter-spacing: 0.2px;
                position: relative;
                top: -2074px;
                left: 41%;
            }
    
    
            #piller-1-line-1-div {
                position: absolute;
                top: 593px;
                left: 15%;
                width: 300px;
                line-height: 27px;
                font-family: "montserrat",sans-serif;
                font-size: 14px;
            }
    
            #piller-1-line-2-div {
                position: absolute;
                top: 692px;
                left: 15%;
                width: 300px;
                line-height: 27px;
                font-family: "montserrat",sans-serif;
                font-size: 14px;
            }
    
    
            #piller-1-line-3-div {
                position: absolute;
                top: 798px;
                left: 15%;
                width: 300px;
                line-height: 27px;
                font-family: "montserrat",sans-serif;
                font-size: 14px;
            }
    
    
            #third-section-first-icon {
                position: absolute;
                top: 612px;
                left: 7%;
                color: red;
                }
    
            #third-section-second-icon {
                position: absolute;
                top: 712px;
                left: 7%;
                color: red;
            }
    
    
    
            #third-section-third-icon {
                position: absolute;
                top: 819px;
                left: 7%;
                color: red;
            }
    
    
            #third-section-fourth-icon {
                position: absolute;
                top: 1298px;
                left: 7%;
                color: red;
            }
    
            #third-section-fifth-icon {
                position: absolute;
                top: 1411px;
                left: 7%;
                color: red;
            }
    
            #third-section-sixth-icon {
                position: absolute;
                top: 1523px;
                left: 7%;
                color: red;
            }
    
            #second-image-third-section {
                position: absolute;
                top: 910px;
                left: 25%;
                width: 50%;
            }
    
            #third-image-third-section {
                position: absolute;
                width: 50%;
                left: 25%;
                top: 1617px;
                height: 238px
            }
    
            #outer-style {
                color: #000000;
                font-family: "Montserrat", Sans-serif;
                font-size: 6vw;
                font-weight: 500;
                letter-spacing: 1.2px;
                position: relative;
                top: -1355px;
                left: 29%;
            }
    
    
            #piller-2 {
                color: #C31111;
                font-family: "Montserrat", Sans-serif;
                font-size: 4vw;
                font-weight: 700;
                letter-spacing: 0.2px;
                position: relative;
                top: -1441px;
                left: 41%;
            }
    
            #piller-2-line-1-div {
                position: absolute;
                top: 1278px;
                left: 15%;
                width: 285px;
                line-height: 27px;
                font-family: "montserrat",sans-serif;
                font-size: 14px;
            }
    
            #piller-2-line-2-div {
                position: absolute;
                top: 1390px;
                width: 300px;
                left: 15%;
                line-height: 27px;
                font-family: "montserrat",sans-serif;
                font-size: 14px;
     
            }
    
    
            #piller-2-line-3-div {
                position: absolute;
                top: 1502px;
                left: 15%;
                width: 300px;
                line-height: 27px;
                font-family: "montserrat",sans-serif;
                font-size: 14px;
            }
    
            #piller-3 {
                color: #C31111;
                font-family: "Montserrat", Sans-serif;
                font-size: 4vw;
                font-weight: 700;
                letter-spacing: 0.2px;
                position: relative;
                top: -773px;
                left: 41%;
            }
    
            #piller-3-line-1-div {
                position: absolute;
                top: 1978px;
                left: 13%;
                width: 300px;
                line-height: 27px;
                font-family: "montserrat",sans-serif;
                font-size: 14px;
            }
    
            #piller-3-line-2-div {
                position: absolute;
                top: 2105PX;
                left: 13%;
                width: 300px;
                line-height: 27px;
                font-family: "montserrat",sans-serif;
                font-size: 14px;
            }
    
            #piller-3-line-3-div {
                position: absolute;
                top: 2232PX;
                left: 13%;
                width: 300px;
                line-height: 27px;
                font-family: "montserrat",sans-serif;
                font-size: 14px;
            }
    
    
            #third-section-seventh-icon {
                position: absolute;
                top: 1997PX;
                left: 6%;
                color: red;
            }
    
    
            
    
    
            #third-section-eight-icon {
                position: absolute;
                top: 2125PX;
                left: 6%;
                color: red;
            }
    
    
            #third-section-ninght-icon {
                position: absolute;
                top: 2252PX;
                left: 6%;
                color: red;
            }
    
    
            #communication {
                color: #000000;
                font-family: "Montserrat", Sans-serif;
                font-size: 6VW;
                font-weight: 500;
                letter-spacing: 1.2px;
                position: relative;
                top: -699PX;
                left: 24%;
            }
    
    
            #fourth-section {
                position: absolute;
                background-color: black;
                width: 100%;
                height: 1364px;
                top: 4146px;
                left: 0%;
            }
    
            #fourth-section-background-pic {
                position: relative;
                width: 100%;
                height: 1300px;
            }
    
    
            #fourth-section-background-overlay {
                position: absolute;
                background: #B41114;
                width: 100%;
                height: 1365px;
                top: 0px;
                opacity: 90%;
            }
    
            #what-will-the-inner-circle {
                font-family: "fjalla one",sans-serif;
                position: absolute;
                top: 12px;
                left: 17%;
                color: white;
                text-shadow: -2px -2px 10px rgb(0 0 0 / 20%);
                font-size: 7vw;
                line-height: 1.4;
                width: 70%;
                text-align: center;
                font-weight: 900;
                letter-spacing: 6.9px;
            }
    
            #do-for-you-div {
                position: absolute;
                top: 139px;
                background-color: white;
                width: 86%;
                left: 7%;
                height: 63px;
                transform: rotate(-3deg);
                overflow-y: hidden;
                overflow-x: hidden;
            }
    
    
            #do-for-you {
                position: relative;
                text-align: center;
                font-size: 10.4vw;
                top: -37px;
                font-weight: 900;
                padding: 10px 28px 10px 10px;
                height: 133px;
                width: 97%;
                color: #000000;
                letter-spacing: 8px;
                left: 0%;
                font-family: "fjalla one",sans-serif;
            }
    
            #fourth-section-line-1-div {
                position: absolute;
                top: 242px;
                width: 80%;
                left: 12%;
                font-family: "montserrat",sans-serif;
                color: white;
                font-weight: 600;
                font-size: 3.2vw;
                line-height: 35px;
            }
    
    
            #fourth-section-line-2-div {
                position: absolute;
                top: 375px;
                width: 84%;
                left: 12%;
                font-family: "montserrat",sans-serif;
                color: white;
                font-weight: 600;
                font-size: 3.2vw;
                line-height: 35px;
            }
    
    
            #fourth-section-line-3-div {
                position: absolute;
                top: 509px;
                width: 84%;
                left: 12%;
                font-family: "montserrat",sans-serif;
                color: white;
                font-weight: 600;
                font-size: 3.2vw;
                line-height: 35px;
            }
    
            #fourth-section-line-4-div {
                position: absolute;
                top: 649px;
                width: 84%;
                left: 12%;
                font-family: "montserrat",sans-serif;
                color: white;
                font-weight: 600;
                font-size: 3.2vw;
                line-height: 35px;
            }
    
            #fourth-section-line-5-div {
                position: absolute;
                top: 797px;
                width: 84%;
                left: 12%;
                font-family: "montserrat",sans-serif;
                color: white;
                font-weight: 600;
                font-size: 3vw;
                line-height: 35px;
            }
    
    
            #fourth-section-first-icon {
                position: absolute;
                top: 288px;
                left: 5%;
                color: white;
            }
    
            #fourth-section-second-icon {
                position: absolute;
                top: 420px;
                left: 4%;
                color: white;
            }
    
            #fourth-section-third-icon {
                position: absolute;
                top: 555px;
                left: 4%;
                color: white;
            }
    
    
            #fourth-section-fourth-icon {
                position: absolute;
                top: 694px;
                left: 4%;
                color: white;
            }
    
            #fourth-section-fifth-icon {
                position: absolute;
                top: 843px;
                left: 4%;
                color: white;
            }
    
            #look-inside-inner-cicle-link-2 {
                background: white;
                width: 75%;
                display: block;
                height: 30px;
                font-family: montserrat,sans-serif;
                text-decoration: none;
                text-align: center;
                color: white;
                padding-top: 14px;
                font-size: 3.4vw;
                font-weight: 590;
                letter-spacing: 1px;
                position: absolute;
                top: 931px;
                left: 13%;
                color: black;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            }
    
    
            #fourth-section-pic-1 {
                position: absolute;
                width: 30%;
                top: 1188px;
                left: 20%;
                border: white 5px solid;
                transform: rotate(-7deg);
            }
    
    
            #fourth-section-pic-2 {
                position: absolute;
                width: 30%;
                border: white 5px solid;
                top: 1072px;
                left: 19%;
                transform: rotate(-25deg);
            }
    
            #fourth-section-pic-3 {
                position: absolute;
                width: 30%;
                border: white 5px solid;
                top: 1006px;
                left: 46%;
                transform: rotate(10deg);
                -webkit-transform: rotate(10deg);
                -moz-transform: rotate(10deg);
                -ms-transform: rotate(10deg);
                -o-transform: rotate(10deg);
            }
    
            #fourth-section-pic-4 {
                position: absolute;
                width: 30%;
                border: white 5px solid;
                top: 1124px;
                left: 47%;
                transform: rotate(17deg);
                -webkit-transform: rotate(17deg);
                -moz-transform: rotate(17deg);
                -ms-transform: rotate(17deg);
                -o-transform: rotate(17deg);
    }
    
            
    
            #fourth-section-pic-5 {
                position: absolute;
                width: 12%;
                top: 910px;
                left: 11%;
                border: white 5px solid;
                transform: rotate(7deg);
                display: none;
            }
    
            #fifth-section {
                position: absolute;
                width: 100%;
                height: 1000px;
                background-color: black;
                top: 5510px;
                left: 0%;
            }
    
    
            #fifth-section-insta-icon {
                position: absolute;
                top: 48px;
                left: 10%;
                font-size: 54px;
                color: #C3118E;
            }
    
    
            #fifth-section-follow-alex-costa-div {
                position: absolute;
                left: 28%;
                font-family: "merriweather",montserrat;
                color: white;
                top: 50px;
            }
    
            #fifth-section-follow-alex-costa {
                font-size: 5vw;
                font-weight: 400;
            }
    
            #follow-alex-costa-pic-1-div {
                position: absolute;
                width: 37%;
                height: 136px;
                top: 165px;
                left: 10%;
                transition: 0.6s;
                -webkit-transition: 0.6s;
                -moz-transition: 0.6s;
                -ms-transition: 0.6s;
                -o-transition: 0.6s;
            }
    
            #follow-alex-costa-pic-1-div:hover {
                top: 154px;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            }
    
            #follow-alex-costa-pic {
                width: 100%;
                height: inherit;
            }
    
            #follow-alex-costa-pic-2-div {
                position: absolute;
                width: 37%;
                height: 136PX;
                top: 165px;
                left: 54%;
                transition: 0.6s;
                -webkit-transition: 0.6s;
                -moz-transition: 0.6s;
                -ms-transition: 0.6s;
                -o-transition: 0.6s;
            }
    
            #follow-alex-costa-pic-2-div:hover{
                top: 154px;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            }
    
            #follow-alex-costa-pic-3-div {
                position: absolute;
                width: 37%;
                height: 136px;
                top: 372px;
                left: 10%;
                transition: 0.6s;
                -webkit-transition: 0.6s;
                -moz-transition: 0.6s;
                -ms-transition: 0.6s;
                -o-transition: 0.6s;
            }
    
            #follow-alex-costa-pic-3-div:hover {
                top: 360px;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            }
    
            #follow-alex-costa-pic-4-div {
                position: absolute;
                width: 37%;
                height: 136px;
                top: 372px;
                left: 54%;
                transition: 0.6s;
                -webkit-transition: 0.6s;
                -moz-transition: 0.6s;
                -ms-transition: 0.6s;
                -o-transition: 0.6s;
            }
    
            #follow-alex-costa-pic-4-div:hover {
                top: 360px;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            }
    
            #follow-alex-costa-pic-5-div {
                position: absolute;
                width: 37%;
                height: 136px;
                top: 581px;
                left: 10%;
                transition: 0.6s;
                -webkit-transition: 0.6s;
                -moz-transition: 0.6s;
                -ms-transition: 0.6s;
                -o-transition: 0.6s;
            }
    
            #follow-alex-costa-pic-5-div:hover {
                top: 574px;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            
            }
    
    
            #follow-alex-costa-pic-6-div {
                position: absolute;
                width: 37%;
                height: 136px;
                top: 585px;
                left: 54%;
                transition: 0.6s;
                -webkit-transition: 0.6s;
                -moz-transition: 0.6s;
                -ms-transition: 0.6s;
                -o-transition: 0.6s;
            }
    
            #follow-alex-costa-pic-6-div:hover {
                top: 574px;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            }
    
            #follow-alex-costa-pic-7-div {
                position: absolute;
                width: 37%;
                height: 136px;
                top: 790px;
                left: 10%;
                transition: 0.6s;
                -webkit-transition: 0.6s;
                -moz-transition: 0.6s;
                -ms-transition: 0.6s;
                -o-transition: 0.6s;
            }
    
            #follow-alex-costa-pic-7-div:hover {
                top: 778px;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            }
    
            #follow-alex-costa-pic-8-div:hover {
                top: 778px;
                transition: 0.4s;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -ms-transition: 0.4s;
                -o-transition: 0.4s;
            }
    
            #follow-alex-costa-pic-8-div {
                position: absolute;
                width: 37%;
                height: 136px;
                top: 790px;
                left: 54%;
                transition: 0.6s;
                -webkit-transition: 0.6s;
                -moz-transition: 0.6s;
                -ms-transition: 0.6s;
                -o-transition: 0.6s;
            }
    
            #follow-alex-costa-pic-9-div {
                position: absolute;
                width: 300px;
                height: 300px;
                top: 990px;
                left: 10%;
                transition: 0.6s;
                -webkit-transition: 0.6s;
                -moz-transition: 0.6s;
                -ms-transition: 0.6s;
                -o-transition: 0.6s;
                display: none;
            }
    
                #sixth-section {
                    position: absolute;
                    width: 100%;
                    height: 1646px;
                    top: 6510PX;
                    background-color: white;
                    overflow-y: hidden;
                    overflow-x: hidden;
                    left: 0%;
                }
    
    
                #sixth-section-youtube-icon {
                    position: absolute;
                    top: 30px;
                    left: 11%;
                    font-size: 51px;
                    color: red;
                }
    
                #sixth-section-watch-alex-costa-div {
                    position: absolute;
                    top: 7px;
                    left: 31%;
                    width: 100%;
                }
    
                #sixth-section-watch-alex-costa {
                    font-family: abhaya libre;
                    font-size: 10vw;
                    font-weight: 500;
                }
    
                #sixth-section-youtube-video-1 {
                    width: 80%;
                    height: 210px;
                    position: absolute;
                    top: 111px;
                    left: 10%;
                }
    
                #sixth-section-youtube-video-2 {
                    width: 80%;
                    height: 210px;
                    position: absolute;
                    top: 358px;
                    left: 10%;
                }
    
                #sixth-section-youtube-video-3 {
                    width: 80%;
                    height: 210px;
                    position: absolute;
                    top: 606px;
                    left: 10%;
                }
    
                #sixth-section-youtube-video-4 {
                    width: 80%;
                    height: 210px;
                    position: absolute;
                    top: 857px;
                    left: 10%;
                }
    
                #sixth-section-youtube-video-5 {
                    width: 80%;
                    height: 210px;
                    position: absolute;
                    top: 1110px;
                    left: 10%;
                }
    
                #sixth-section-youtube-video-6 {
                    width: 80%;
                    height: 210px;
                    position: absolute;
                    top: 1365px;
                    left: 10%;
                }
    
                #sixth-section-youtube-video-7 {
                    width: 80%;
                    height: 210px;
                    position: absolute;
                    top: 1672px;
                    left: 10%;
                }
    
                #sixth-section-youtube-video-8 {
                    width: 80%;
                    height: 210px;
                    position: absolute;
                    top: 1932px;
                    left: 10%;
                }
    
                #seventh-section {
                    position: absolute;
                    width: 100%;
                    height: 644px;
                    top: 8156px;
                    left: 0%;
                }
    
                #seventh-section-background-image-1 {
                    position: absolute;
                    width: 100%;
                    height: inherit;
                }
    
                #seventh-section-background-image-2 {
                    position: absolute;
                    left: 10%;
                    width: 32%;
                    height: 562px;
                    display: none;
                }
    
    
    
                #seventh-section-background-image-3 {
                    position: absolute;
                    left: 10%;
                    width: 33%;
                    height: 562px;
                    display: none;
                }
    
    
                #seventh-section-background-photo-dissolver {
                    position: absolute;
                    width: 100%;
                    height: inherit;
                    background-color: #000000a6;
                }
    
                #seventh-section-stand-a-level-above {
                    position: absolute;
                    color: white;
                    top: 37px;
                    left: 0%;
                    font-family: "montserrat",sans-serif;
                    width: 100%;
                    text-align: center;
                    font-size: 3vw;
                }
    
                #seventh-section-inner-circle-text {
                    position: absolute;
                    color: white;
                    top: 50px;
                    left: 0%;
                    --e-global-typography-primary-font-family: montserrat;
                    font-size: 10vw;
                    width: 100%;
                    text-align: center;
                }
    
                #seventh-section-an-ambitious-men-text {
                    position: absolute;
                    color: white;
                    top: 168px;
                    left: 1.4%;
                    font-family: "montserrat",sans-serif;
                    font-size: 3vw;
                    width: 95%;
                    text-align: center;
                    border-top: 2px solid #bf1010;
                    padding-top: 5px;
                    border-bottom: 2px solid #bf1010;
                    padding-bottom: 5px;
                }
    
                #seventh-section-inner-circle-image-mobile {
                    position: absolute;
                    width: 100%;
                    top: 223px;
                }
    
                #seventh-section-look-inside-inner-circle-link-last {
                    position: absolute;
                    top: 570px;
                    left: 7%;
                    background: #C31111;
                    width: 85%;
                    display: block;
                    height: 37px;
                    font-family: montserrat,sans-serif;
                    text-decoration: none;
                    text-align: center;
                    color: white;
                    padding-top: 17px;
                    font-size: 4vw;
                    font-weight: 500;
                    letter-spacing: 1px;
                    transition: 0.4s;
                    -webkit-transition: 0.4s;
                    -moz-transition: 0.4s;
                    -ms-transition: 0.4s;
                    -o-transition: 0.4s;
                }
    
    
                #last-section {
                    position: absolute;
                    width: 100%;
                    height: 300px;
                    top: 8800px;
                    background-color: #181920;
                    left: 0%;
                }
    
                #footer-logo {
                    position: absolute;
                    width: 180px;
                    top: 68px;
                    left: 1%;
                    cursor: pointer;
                    display: none;
                }
    
                #footer-youtube-logo-divs {
                    position: absolute;
                    font-size: 30px;
                    color: white;
                    top: 195px;
                    left: 25%;
                    cursor: pointer;
                }
    
                #footer-facebook-logo-div {
                    position: absolute;
                    font-size: 30px;
                    color: white;
                    top: 195px;
                    left: 48%;
                    cursor: pointer;
                }
    
                #footer-insta-logo-div {
                    position: absolute;
                    font-size: 30px;
                    color: white;
                    top: 195px;
                    left: 70%;
                    cursor: pointer;
                }
    
                #footer-home-link {
                    position: absolute;
                    left: 0%;
                    color: #C6C6C6;
                    font-weight: 700;
                    font-size: 13px;
                    top: 25px;
                    cursor: pointer;
                    text-decoration: none;
                    letter-spacing: 8px;
                    text-align: center;
                    width: inherit;
                }
    
                #footer-members-area-link {
                    position: absolute;
                    left: auto;
                    color: white;
                    font-weight: 700;
                    font-size: 16px;
                    top: 65px;
                    cursor: pointer;
                    text-decoration: none;
                    letter-spacing: 8px;
                    text-align: center;
                    padding-left: 8px;
                    width: inherit;
                }
    
                #footer-terms-of-service-link {
                    position: absolute;
                    left: auto;
                    color: white;
                    font-weight: 700;
                    font-size: 18px;
                    top: 148px;
                    cursor: pointer;
                    text-decoration: none;
                    letter-spacing: 8px;
                    text-align: center;
                    width: inherit;
                    
                }
    
                #footer-privacy-policy-link {
                    position: absolute;
                    left: auto;
                    color: white;
                    font-weight: 700;
                    font-size: 18px;
                    top: 106px;
                    cursor: pointer;
                    text-decoration: none;
                    letter-spacing: 8px;
                    text-align: center;
                    padding-left: 6px;
                    width: inherit;
                }
    
                #footer-copyright-text {
                    position: absolute;
                    color: white;
                    top: 256px;
                    left: 6%;
                    font-size: 4vw;
                }
    
                #footer-support-link {
                    position: absolute;
                    left: 0%;
                    color: white;
                    font-weight: 700;
                    font-size: 13px;
                    top: 26px;
                    cursor: pointer;
                    text-decoration: none;
                    letter-spacing: 8px;
                    display: none;
                }
        }
    
    
     /* for mobiles devices with small screen sizes to mobiles with large screen sizes (portrait mode) (ends)*/
    
    
    
     
    
    
    
    
    